*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    width: 100%;
   margin: 0 auto;
   background-color: pink;
   min-height: 7vh;
   align-items: center;
   font-size: 20px;
}
nav .logo{
    width: 50%;
    margin-left: 10%;
}
nav .nav-links{
    width: 50%;
}

.nav-links ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav-links ul li{
    list-style: none;
}

.nav-links ul li a{
    text-decoration: none;
}

.tournaments{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.card{
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
    font-size: 30px;
    color: red;
}


.about{
    background-color: black;
    color: white;
}



.slider{
    border: 2px solid blue;
    height: 300px;
}

.swiperjs {
    height: 100%;
}
  .swiperjs  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
  }




  

  .swipertwo{
       width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .swipertwo  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  footer{
      background-color:yellow;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  @media only screen and (max-width:600px){
      .tournaments{
          flex-direction: column;
      }

      nav .logo{
          display: flex;
          width: 100%;
          justify-content: center;
          /* border: 2px solid red; */
          margin: 0 auto;
      }
      
     nav .nav-links{
          position: fixed;
          display: flex;
          bottom: 0;
          background-color: lightgrey;
          width: 100vw;
          height: 7vh;
          /* border: 2px solid red; */
      }
      .nav-links li{
          margin: 5px;
          padding: 5px;
      }
      footer{
          margin-bottom: 7vh;
      }
  } 