*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    width: 100%;
   margin: 0 auto;
   /* background-color: pink; */
   min-height: 7vh;
   align-items: center;
   font-size: 20px;
}
nav .logo{
    width: 50%;
    margin-left: 10%;
}
nav .nav-links{
    width: 50%;
}

.nav-links ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav-links ul li{
    list-style: none;
}

.nav-links ul li a{
    text-decoration: none;
}

.swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.tournaments{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb    (13, 236, 125); */

}

.card{
    
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
    font-size: 30px;
    color: red;
}


.about{
    background-color: black;
    color: white;
}



.slider{
    /* border: 2px solid blue; */
    height: 300px;
}

.swiperjs {
    height: 100%;
}
  .swiperjs  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
  }




  

  .swipertwo{
       width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .swipertwo  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  footer{
      background-color:yellow;
      display: flex;
      align-items: center;
      justify-content: center;
  }

   /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  @media only screen and (max-width:600px){
      .tournaments{
          flex-direction: column;
      }

      nav .logo{
          display: flex;
          width: 100%;
          justify-content: center;
          /* border: 2px solid red; */
          margin: 0 auto;
      }
      
     nav .nav-links{
          position: fixed;
          display: flex;
          bottom: 0;
          background-color: lightgrey;
          width: 100vw;
          height: 7vh;
          z-index: 999;
      }
      .nav-links li{
          margin: 5px;
          padding: 5px;
      }

      .card{
          width: 100%;
      }
      footer{
          margin-bottom: 7vh;
      }
  } 